@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: roboto, sans-serif;
    letter-spacing: 2px;
}

.wrapper {
    background-color: #1C1C1C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 30px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    background-color: #FADF00;
    padding: 11px 16px;
    color: #1C1C1C;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .5s;
}

.cardboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 20px;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    gap: 10px;
    transition: .5s;
}

.cardboard-active {
    max-height: 70vh;
    max-width: 70vh;
    transition: .5s;
}

.card {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    cursor: pointer;
    background-color: #36454f;
    color: #36454f;
    transform: rotateY(180deg);
    transition: .5s;
}

.flip {
    transform: rotateY(360deg);
    transition: .5s;
    color: #ffffff;
}

.match {
    background-color:#FADF00;
    color: #1C1C1C;
}

label {
    cursor: pointer;
    margin: 0 9px;
}

.turns,
.prev-best {
    color: #1C1C1C;
    transition: .5s;
}

.turns-active,
.prev-best-active {
    color: #ffffff;
    transition: .5s;
}

@media (max-width: 500px) {
    .cardboard {
        max-width: 0;
        max-height: 0;
    }
    .cardboard-active {
        max-height: 90vw;
        max-width: 90vw;
    }
}